/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 100%;
       background-color: ;
    }

    header {
        background-color:#e09108;
        padding-left: 50px;
        border: 10px solid #8e2e1b;
        font-size:20 ;
        display: block;
    }
    nav {
        float: left;
    }
    nav ul {
        padding:5;
        float: right;
        border-bottom:10 ;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 20px;
        padding: 12px 25px 8px 18px;
        vertical-align: left;
    }
    a {
        color: ;
    }
    section {
        width: 73%;
        display: inline-block;
        float: center;


    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:#8e2e1b;
        padding:20;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
